* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  outline: none;
  margin: auto;
}

body {
  font-family: system-ui;
}

main,
header,
footer {
  width: 800px;
  margin: auto;
}

@media (max-width: 800px) {
  main,
  header,
  footer {
    width: auto;
  }
}

footer {
  margin-top: 40px;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  align-items: stretch;
  margin: auto;
  padding-inline: 8px;
  row-gap: 8px;
}

.m-1 {
  margin: 2px;
}

.m-2 {
  margin: 4px;
}

button {
  font-size: 1.2rem;
  padding-block: 8px;
}

table {
  font-variant-numeric: tabular-nums;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

#output-table th,
#output-table td {
  padding: 4px;
}

#output-table th {
  text-align: right;
}
