* {
  margin: 0;
  padding: 0;
}

canvas {
  outline: none;
}

body {
  font-family: system-ui;
}

main,
header {
  width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
}

@media (max-width: 900px) {
  main,
  header {
    width: auto;
  }
}
