* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  outline: none;
  margin: auto;
}

body {
  font-family: system-ui;
}

main,
header,
footer {
  width: 800px;
  margin: auto;
}

@media (max-width: 800px) {
  main,
  header,
  footer {
    width: auto;
  }
}

footer {
  margin-top: 40px;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

main {
  display: grid;
  align-items: stretch;
  margin: auto;
  padding-inline: 8px;
  row-gap: 8px;
}

.m-1 {
  margin: 2px;
}

.m-2 {
  margin: 4px;
}

button {
  font-size: 1.2rem;
  padding-block: 8px;
}

table {
  font-variant-numeric: tabular-nums;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

#output-table th,
#output-table td {
  padding: 4px;
}

#output-table th {
  text-align: right;
}

textarea {
  border-radius: 8px;
  padding: 4px;
}

select {
  padding: 6px;
  border-radius: 6px;
}

.display-none {
  display: none;
}

.btn {
  background-color: #ffffff; /* 背景色 */
  border: none; /* ボーダーなし */
  border: 0.5px solid #bbbbbb;
  color: black; /* テキストカラー */
  padding: 8px 32px; /* パディング */
  text-align: center; /* テキスト中央揃え */
  text-decoration: none; /* テキストの下線をなくす */
  display: inline-block; /* インラインブロックにする */
  font-size: 16px; /* フォントサイズ */
  cursor: pointer; /* マウスオーバー時にポインターを表示 */
  border-radius: 8px; /* 角を丸くする */
  transition: background-color 0.3s ease; /* 背景色を変化させるアニメーション */
}

.btn:hover {
  background-color: #ecefec; /* ホバー時の背景色 */
}

.btn:active {
  background-color: #d5d5d5; /* 背景色 */
}

.btn:disabled {
  background-color: #d5d5d5; /* 背景色 */
  cursor: auto;
}

.box {
  display: grid;
  align-items: stretch;
  margin: auto;
  gap: 8px;
  width: 100%;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  padding: 8px;
}
